/* IT21166556
Nadeeshan I.U.N.
MLB_08.02_3 */

/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.footer{
    margin-top: 539px;
}
.sidebar {
    display: table-column;
    position:relative;
    top: 130px;
    left: 0;
    padding-top: 20px;
    padding-left: 6px;
    height: 70%;
    width: 65px;
    background: #254c7c00;
    transition: all 0.5s ease;
}
.sidebar.active {
    width: 240px;
}
.sidebar .logo_content .admin_logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .logo_content .admin_logo {
    opacity: 1;
    pointer-events: none;
}
.logo_content .admin_logo i {
    font-size: 28px;
    margin-right: 5px;
}
.logo_content .admin_logo .menu_name {
    font-size: 20px;
    font-weight: 400;
}
.sidebar #admin_btn {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 20px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
}
.sidebar.active #admin_btn {
    left: 90%;
    transition: all 0.5 ease;
}
.sidebar ul li {
    position: relative;
    height: 40px;
    width: 95%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 1px;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b3100;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
    transition: all 0.5s ease;
}
.sidebar.active ul li input {
    width: 178px;
}
/* .sidebar.active ul li input */
.sidebar ul li .bx-search {
    position: absolute;
    margin: 10px 15px;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5 ease;
}
.sidebar ul li .bx-search:hover {
    
    background-color: #fff;
    color: #1d1b30;
}
.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
    
}
.sidebar ul li a:hover {
    margin-left: 10px;
    color: #11101d;
    background: rgb(255, 255, 255);
}
.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    
}
.sidebar.active .links_name {
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active ~ .admin {
    width: calc(100% - 240px);
    left: 240px;
}
/* End of side bar css */


.admin {
    position: relative;
    height: 100%;
    width: calc(100% - 78px);
    left: 100px;
    transition: all 0.5s ease;
}
.user h3 {
    margin-top: 10px;
    margin-left: 30px;
}
.U-dashboard {
    position: absolute;
    margin-left: 20px;
    width: 1200px;
    margin-top: -220px;

}
.U-dashboard h2{
    color: rgb(236, 231, 231);
}

.info1{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    line-height: 200%;

    text-align: center;
    font-family: sans-serif;
    box-sizing: border-box;
    width: 500px;
    height: 455px;
    margin-top: 410px;
    margin-left: 350px;
    padding: 10px;

}

.info1 h2{
    text-align: center;
    margin-top: -10px;
    color: rgb(255, 255, 255);
}
input {
    display: block;
    border: 2px solid;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label{
    /* color: rgb(29, 30, 30); */
    color: rgb(249, 253, 13);
    font-size: 18px;
    padding: 10px;
}
button {
    float: right;
    background: skyblue;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}
button:hover{
    opacity: .7;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
.success {
    background: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.ca{
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: rgb(247, 242, 242);
    
}
.ca:hover{
    text-decoration: underline;
}