/* IT21166556
Nadeeshan I.U.N.
MLB_08.02_3 */

/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.footer{
    margin-top: 130px;
}
.sidebar {
    position:relative;
    top: 130px;
    left: 0;
    padding-top: 20px;
    padding-left: 6px;
    height: 70%;
    width: 65px;
    background: #254c7c00;
    transition: all 0.5s ease;
}
.sidebar.active {
    width: 240px;
}
.sidebar .logo_content .admin_logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .logo_content .admin_logo {
    opacity: 1;
    pointer-events: none;
}
.logo_content .admin_logo i {
    font-size: 28px;
    margin-right: 5px;
}
.logo_content .admin_logo .menu_name {
    font-size: 20px;
    font-weight: 400;
}
.sidebar #admin_btn {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 20px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
}
.sidebar.active #admin_btn {
    left: 90%;
    transition: all 0.5 ease;
}
.sidebar ul li {
    position: relative;
    height: 40px;
    width: 95%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 1px;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b3100;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
    transition: all 0.5s ease;
}
.sidebar.active ul li input {
    width: 178px;
}
/* .sidebar.active ul li input */
.sidebar ul li .bx-search {
    position: absolute;
    margin: 10px 15px;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5 ease;
}
.sidebar ul li .bx-search:hover {
    
    background-color: #fff;
    color: #1d1b30;
}
.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
    
}
.sidebar ul li a:hover {
    margin-left: 10px;
    color: #11101d;
    background: rgb(255, 255, 255);
}
.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    
}
.sidebar.active .links_name {
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active ~ .admin {
    width: calc(100% - 240px);
    left: 240px;
}
/* End of side bar css */


.admin {
    position: relative;
    height: 100%;
    width: calc(100% - 78px);
    left: 100px;
    transition: all 0.5s ease;
}
.user h3 {
    margin-top: 10px;
    margin-left: 30px;
}
.U-dashboard {
    position: absolute;
    margin-left: 20px;
    width: 1200px;
    margin-top: -220px;

}
.U-dashboard img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: -90px;
    margin-top: 10px;
}
.dp{
    margin-left: -67px;
}
.info1{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    line-height: 200%;

    width: 500px;
    height: 455px;
    padding-left: 100px;
    padding-top: 15px;
}
.info1 h4{
    color: #fff;
    margin-top: -150px;
    font-size: 20px;
}
.info1 h5{
    font-size: 19px;
}
.info1 p{
    font-size: 18px;
    color: aliceblue;
}
.info1 .pw{

    color: rgb(32, 252, 237);
    text-decoration: none;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition: 0.3s ease-in-out;
}

.pw:hover{
    font-size: 17px;
}
.info2{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    line-height: 200%;
    width: 400px;
    height: 425px;
    margin-left: 660px;
    padding: 30px;
    padding-top: 15px;
    margin-top: -470px;
}
.info2 h3{
    color: #fff;
}
.info2 h5{
    font-size: 19px;
    color: rgb(22, 28, 31);
}
.info2 p{
    color: #fff;
    margin-top: -32px;
    margin-left: 160px;
}
.info2 a{
    color: rgb(32, 252, 237);
    text-decoration: none;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition: 0.3s ease-in-out;
}
.info2 a:hover{
    font-size: 17px;
}

.U-dashboard h2{
    margin-top: -10px;
    color: rgb(236, 231, 231);
}
.ubtn{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 200;
    width: 260px;
    text-decoration: none;
    padding: 10px;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.ubtn:hover{
    font-size: large;
}
