*{
	margin: 0;   /*remake all default margin values to 0*/
	padding: 0;  /*remake all default padding values to 0*/
}

.contact-head-text 
{
	position: sticky;
	margin-top: 210px;
	margin-bottom: -80px ;
	margin-left: 60px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 35px;
	

}

.contact-content
{
	position: absolute;
	min-width: 1400px;
	height: 600px;
	margin-top: 140px;
	margin-left: 60px;
	display: flex;
	resize: none;
}

.contact-content-1
{
	width: 60%;
	height: 580px;
	margin: 10px 0px 10px 2px;
	border: 2px  solid black;
}

.contact-content-2
{
	border: 2px solid black;
	width: 40%;
	height: 580px;
	margin: 10px 10px 10px 0.1px;
}

.contact-content-1  h2
{
	color: #0e3959;
	font-weight: 500;
	font-size: 22px;
	margin-top: 25px;
	margin-bottom: -15px;
	margin-left: 32px;
}

.form-box 
{
	position:relative;
	padding: 30px;
	align-items: center;
	justify-content: center;
	
}

.form-box .row-1
{
	display: flex;
	gap: 40px;
}

.inputbox
{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	width: 50%;
}

.form-box .row-2 .inputbox
{
	width: 100%;
}

.inputbox span
{
	color: #18b7ff;
	margin-top: 10px;
	margin-bottom: 20px ;
	font-weight: 500;
}

.inputbox input
{
	padding: 10px;
	font-size: 14px;
	outline-color: green;
	border: 1px solid #333;
}
.inputbox textarea
{
	padding: 10px;
	font-size: 14px;
	outline-color: green;
	border: 1px solid #333;
	resize: none;
	min-height: 140px;
	margin-bottom: 18px;
}

.inputbox input[type="submit"]
{
	background-color: #00Ff00;
	color: black;
	border: none;
	font-size: 16px;
	font-weight: 500;
	max-width: 90px;
	cursor: pointer;
	margin-left: 648px;
	transition: 0.3s ease;

	
}

input[type="submit"]:hover
{
	background-color: green;
	text-transform: uppercase;
	
}

.contact-content-2 hr
{
	height: 2px;
	border-width:0 ;
	color: rebeccapurple;
	background-color: black;
	margin-top: 40px;
	width: 90%;
	margin-left: 30px;
}

.contact-content-2 h2
{
	color: black;
	font-weight: bold;
	font-size: 22px;
	margin-top: 15px;
	margin-bottom: -20px;
	margin-left: 32px;
}

.contact-infor div
{
	display: flex;
	margin-left: 32px;
	margin-top: 20px;
}

.contact-infor div span
{
	min-width: 40px;
	height: 40px;
	color: #fff;
	background-color: #18b7ff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-right: 25px;
}

.contact-infor div p
{
	font-size: 18px;
	margin-top: 9px;
}

.feedback-text 
{
	margin-top: 45px;
	margin-left: 110px;

}

.feedback-text a 
{
	font-size: 18px;
	font-weight: bold;
	color: blue;
	transition: 0.4s;
}

.feedback-text a:hover
{
	text-decoration: none;
	font-size: 20px;
	color: darkblue;

}

.feedback-reaction
{
	display: flex;
	font-size: 37px;
}

.feedback-reaction .fa-solid 
{
	color: black;
	margin-top: 45px;
	margin-left: 100px;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

 .feedback-reaction .fa-solid:hover
{
	color: #f9d71c;
	transform: scale(1.4);
	

}


