*{
	margin: 0;   /*remake all default margin values to 0*/
	padding: 0;  /*remake all default padding values to 0*/
}
.fotter
{
    top: 900px;
}

/*---------------------------------Aboutus page-----------------------------------*/
.aboutus-image 
{
	position: absolute;

}

.aboutus-image img 
{
	min-width: 1485px;
	height: 600px;
	margin: 150px 10px 0px 20px;

}
.aboutus-content
{
    
	position: relative ;
	width: 1200px;
	height: 900px;
	text-align: center;
	top: 800px;
	left: 150px;
	text-align: center;
	align-items: center;
    background-color: red;
}
.aboutus-content h2
{
	font-size: 50px;
	margin: 15px;
}

/*---------------------------------analytics page-----------------------------------*/


.analytics
{

    height: 1px;
    margin-left: 200px;
    max-width: 1010px;
    margin-top: 900px;
    padding-top : 30px;   
   
}

.analytics .img1
{
    width: 351px;
    height: 176px;
    margin-left: 23px;
}

.analytics .img2
{
    height: 372px;
    margin-left: 1px;
    margin-bottom: -195px;
    width: 300px;  
}

.analytics .img3
{
    height: 281px;
    width: 301px;
    margin-bottom: -104px;
   
}

.analytics .img4
{
    margin-left: 23px;
}
.analytics .active
{
    border: 2px solid black;
    transition: 0.6s ease-in-out;
}
.analytics .active:hover
{
    transform: scale(0.9);
   
}

/*---------------------------------pakages page-----------------------------------*/


.package-head-text 
{
	position: sticky;
	margin-top: 750px;
	margin-left: 590px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 49px;
}

.package
{
	position: absolute;
	display: flex;
	max-width: 1500px;
	max-height: 669px;
	top: 2701px;
	text-align: center;
}

.package-body
{
	width: 330px;
	margin: 0px 20px;
	height: 609px;
	border: 2px solid black;
	transition: 0.3s all ease-in-out;
}

.package-body:hover
{
	border-color: red;
	transform: scale(1.02);

}

.package-type-name
{
	color: black;
	font-size: 20px;
	margin-top: 40px;
	transition: 0.5s ease;
}

.package-type-name:hover
{
	color: red;	
}

.package-logo
{
	margin-top: 40px;	
	transition: 0.3s all ease-in-out;
}

.package-logo:hover
{
	transform: scale(1.44);
	
}

.package-discription
{
	margin-top: 80px;
	font-size: 19px;
}


/*---------------------------------order page-----------------------------------*/

.order
{       
    width: 100%;
   
}
 .order-head-text
{
    
    margin: 810px 0px 0px 590px;
    color: black;
    font-size: 30px;
    font-weight: bold;   
}
.order button   
{
    border: none;
    
}

.order .order-menu
{
    margin-left: 250px;  
}

.order-menu button
{
    padding: 15px;
    background-color:white;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 50px;
    transition: 0.4s ease-in-out;   
}
.order-menu button:hover
{ 
    transform: scale(1.2); 
    
}

.order-menu button:focus
{
    outline: 3px solid red;
}


.order-content button
{
    padding: 2px;
    margin-top: 60px;
    margin-left: 20px;
    outline: 3px solid black;
    transition: 0.3s ease-in-out;
}
.order-content button:hover
{
    transform: scale(1.03);
    outline: 3px solid red;
}

.order-content img
{
    width: 450px;
    height: 200px;
    margin-top: 15px;
}
.order-content .order-menu button , h3
{
    font-size: 20px;  
}
.order-content p
{
    line-height: 30px;
    font-size: 18px;
    text-align: left;
    
}
.order-content span
{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    margin-left: 340px;
    margin-top: 40px;
}
.order-content label
{
    margin-left: 270px;
}
.order-content i
{
    border: 2px solid black;
}


.order-content label , i
{
    font-size: 20px;
    padding: 7px;
    font-weight: bolder;  
    margin-bottom: 12px; 
}

/*---------------------------------pickup page-----------------------------------*/


.pickup
{
	position: absolute;
	width: 1400px;
	height: 550px;
	margin: 120px 20px 10px 60px;
	display: flex;
}

.pickup-content-1
{
	width: 60%;
}

.pickup-content-1  h3
{
	color: #0e3959;
	font-weight: 500;
	font-size: 30px;
	margin-top: 60px;
	margin-bottom: -15px;
	margin-left: 50px;
	width: 500px;
}

.pickup-content-1-box-1 
{
	display: flex;
}

.pickup-content-1-box-1 .box-1
{
	margin: 50px 100px 40px 50px;
}

.pickup-content-1-box-1 .box-1  p 
{
	font-size: 18px;
	margin-top: 20px ;
}

.pickup-content-1-box-2
{
	display: flex;
}

.pickup-content-1-box-2 .box-2
{
	margin: 50px 100px 40px 50px;
}

.pickup-content-1-box-2 .box-2 p 
{
	font-size: 18px;
	margin-top: 20px ;
}

.pickup-content-2
{
	width: 40%;
	margin-left: -80px;
	margin-top: 70px;
}

.pickup-content-2 iframe
{
	width: 600px;
	height: 450px;
}

/*---------------------------------contactus page-----------------------------------*/

.contact-head-text 
{
	position: sticky;
	margin-top: 810px;
	margin-bottom: -80px ;
	margin-left: 60px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 35px;
	

}

.contact-content
{
	position: absolute;
	min-width: 1400px;
	height: 600px;
	margin-top: 140px;
	margin-left: 60px;
	display: flex;
	resize: none;
}

.contact-content-1
{
	width: 60%;
	height: 580px;
	margin: 10px 0px 10px 2px;
	border: 2px  solid black;
}

.contact-content-2
{
	border: 2px solid black;
	width: 40%;
	height: 580px;
	margin: 10px 10px 10px 0.1px;
}

.contact-content-1  h2
{
	color: #0e3959;
	font-weight: 500;
	font-size: 22px;
	margin-top: 25px;
	margin-bottom: -15px;
	margin-left: 32px;
}

.form-box 
{
	position:relative;
	padding: 30px;
	align-items: center;
	justify-content: center;
	
}

.form-box .row-1
{
	display: flex;
	gap: 40px;
}

.inputbox
{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	width: 50%;
}

.form-box .row-2 .inputbox
{
	width: 100%;
}

.inputbox span
{
	color: #18b7ff;
	margin-top: 10px;
	margin-bottom: 20px ;
	font-weight: 500;
}

.inputbox input
{
	padding: 10px;
	font-size: 14px;
	outline-color: green;
	border: 1px solid #333;
}
.inputbox textarea
{
	padding: 10px;
	font-size: 14px;
	outline-color: green;
	border: 1px solid #333;
	resize: none;
	min-height: 140px;
	margin-bottom: 18px;
}

.inputbox input[type="submit"]
{
	background-color: #00Ff00;
	color: black;
	border: none;
	font-size: 16px;
	font-weight: 500;
	max-width: 90px;
	cursor: pointer;
	margin-left: 648px;
	transition: 0.3s ease;
}

input[type="submit"]:hover
{
	background-color: green;
	text-transform: uppercase;	
}

.contact-content-2 hr
{
	height: 2px;
	border-width:0 ;
	color: rebeccapurple;
	background-color: black;
	margin-top: 40px;
	width: 90%;
	margin-left: 30px;
}

.contact-content-2 h2
{
	color: black;
	font-weight: bold;
	font-size: 22px;
	margin-top: 15px;
	margin-bottom: -20px;
	margin-left: 32px;
}

.contact-infor div
{
	display: flex;
	margin-left: 32px;
	margin-top: 4px;
}

.contact-infor div span
{
	min-width: 40px;
	height: 40px;
	color: #fff;
	background-color: #18b7ff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-right: 25px;
}

.contact-infor div p
{
	font-size: 18px;
	margin-top: 9px;
}

.feedback-text 
{
	margin-top: 45px;
	margin-left: 110px;

}

.feedback-text a 
{
	font-size: 18px;
	font-weight: bold;
	color: blue;
	transition: 0.4s;
}

.feedback-text a:hover
{
	text-decoration: none;
	font-size: 20px;
	color: darkblue;

}

.feedback-reaction
{
	display: flex;
	font-size: 37px;
}

.feedback-reaction .fa-solid 
{
	color: black;
	margin-top: 45px;
	margin-left: 100px;
	cursor: pointer;
	transition: 0.2s ease-in-out;
    font-size: 40px;
}

 .feedback-reaction .fa-solid:hover
{
	color: #f9d71c;
	transform: scale(1.4);

}

/*---------------------------------How it works page-----------------------------------*/

.howit-head-text 
{
	position: sticky;
	margin-top: 860px;
	margin-bottom: -100px ;
	margin-left: 75px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 28px;

}

.howit-content
{
	position: absolute;
	width: 89%;
	height: 600px;
	margin-top: 80px;
	margin-left: 60px;
	display: flex;
	resize: none;
}

.howit-content-1
{
	max-width: 550px;
	height: 580px;
	margin: 10px 0px 10px 2px;


}

.howit-content-2
{
	max-width: 990px;
	max-height: 580px;
	margin: 10px 60px 10px 9px;
	text-align: left;

}

.howit-content-1 iframe
{
	width: 530px;
	height: 380px;	
	margin-top: 90px;
}
.howit-content-2 ol  
{
	
	margin-top: 50px;
	margin-left: 80px;
}

.howit-content-2 li , p
{
	margin: 30px;
	font-size: 20px;

}
.howit-content-2 p 
{
	margin-left: 80px;
}

