*{
	margin: 0;   /*remake all default margin values to 0*/
	padding: 0;  /*remake all default padding values to 0*/
}

.howit-head-text 
{
	position: sticky;
	margin-top: 160px;
	margin-bottom: -100px ;
	margin-left: 75px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 28px;

}

.howit-content
{
	position: absolute;
	width: 89%;
	height: 600px;
	margin-top: 80px;
	margin-left: 60px;
	display: flex;
	resize: none;
}

.howit-content-1
{
	max-width: 550px;
	height: 580px;
	margin: 10px 0px 10px 2px;


}

.howit-content-2
{
	max-width: 990px;
	max-height: 580px;
	margin: 10px 60px 10px 9px;
	text-align: left;

}

.howit-content-1 iframe
{
	width: 530px;
	height: 380px;	
	margin-top: 90px;
}
.howit-content-2 ol  
{
	
	margin-top: 50px;
	margin-left: 80px;
}

.howit-content-2 li , p
{
	margin: 30px;
	font-size: 20px;

}
.howit-content-2 p 
{
	margin-left: 80px;
}
