.fotter
{
    top: 100px;
}
.order
{       
    width: 100%;
   
}
 .order-head-text
{
    
    margin: 210px 0px 0px 590px;
    color: black;
    font-size: 30px;
    font-weight: bold;   
}
.order button   
{
    border: none;
    
}

.order .order-menu
{
    margin-left: 250px;  
}

.order-menu button
{
    padding: 15px;
    background-color:white;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 50px;
    transition: 0.4s ease-in-out;   
}
.order-menu button:hover
{ 
    transform: scale(1.2); 
    
}

.order-menu button:focus
{
    outline: 3px solid red;
}


.order-content button
{
    padding: 2px;
    margin-top: 60px;
    margin-left: 20px;
    outline: 3px solid black;
    transition: 0.3s ease-in-out;
}
.order-content button:hover
{
    transform: scale(1.03);
    outline: 3px solid red;
}

.order-content img
{
    width: 450px;
    height: 200px;
    margin-top: 15px;
}
.order-content .order-menu button , h3
{
    font-size: 20px;  
}
.order-content p
{
    line-height: 30px;
    font-size: 18px;
    text-align: left;
    
}
.order-content span
{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    margin-left: 340px;
    margin-top: 40px;
}
.order-content label
{
    margin-left: 270px;
}
.order-content i
{
    border: 2px solid black;
}


.order-content label , i
{
    font-size: 20px;
    padding: 7px;
    font-weight: bolder;  
    margin-bottom: 12px; 
}



