@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Ubuntu');

*{
  margin: 0;
  padding: 0;
  
}

body{
  background: #2196F3;
  
}


.payment{
  background: #f8f8f8;
  max-width: 360px;
  margin: 0 auto;
  margin-top: 170px;
  top: 170px;
  padding: 35px;
  padding-top: 40px;
  border-radius: 5px;
  position: relative;
  border: 1px solid ;
  box-shadow: 5px;
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
}

.payment h2{
  text-align: center;
  letter-spacing: 2px;
  color: #0d3c61;
  margin-bottom: -15px;
}

.payment h4{
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 17px;
    color: #0d3c61;
  }

.payment hr{
    margin-bottom: 32px;
    width: 500px;
    margin-left: -40px;

}
  
.remember , .input{
  padding: 13px 0px 13px 25px;
  width: 100%;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline-color: green;
  font-size: 16px;
  color: #555555;
}

.card-grp{
  display: flex;
  justify-content: space-between;
  margin-top: -19px;
  width: 340px; 
}

.card-grp input[type="text"]
{
    width: 150px;  
}


.card input[type="text"]
{
    width: 330px;
  
}

.card-item{

}

.space{
  margin-bottom: 20px;
}

.icon-relative{
  position: relative;
  width: 160px;
}

.icon-relative .fas,
.icon-relative .far{
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #555555;
}
.remember
{
    display: flex;   
    width: 330px;
    height: 10px;
    
}

.remember p{
    margin-left: 17px;
    font-size: 17px;
    margin-top: -4px;  
}

.btn {
  margin-top: 50px;
  background: #2196F3;
  padding: 12px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
  
}
.btn a
{
    text-decoration: none;
    color: #f8f8f8;
}
.btn:hover {
    transform: scale(1.1);
    font-size: 21px; 
}

.creditcard
{
    display: flex;
    margin-left: -37px;
    margin-bottom: -35px;
}

.creditcard img
{
    width: 60px;
    height: 40px;
    margin: 18px 27px 17px 27px;
}


@media screen and (max-width: 420px){
  .card-grp{
    flex-direction: column;
  }
  .card-item{
    width: 100%;
    margin-bottom: 20px;
  }
  .btn{
    margin-top: 20px;
  }
  
}